.app {
    background-image: url('../../public/background.jpg');
    background-size: auto;
    background-position: top;
    display: flex;
    justify-content: center;
}

.app-container {
    width: 1200px;
}

/* Apply scrollbar-gutter to ensure stable layout */
html {
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Customize the scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}
